.newboard {
    margin: auto;
}

#clmsg, #title, .guessform {
    display: flex;
    justify-content: space-around;
}
 
.char {
    margin:10px;
}

#clent {
    text-align: center;
}

.list {
    list-style-type: none;
}