<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/boggle.css">
    <link rel="icon" href="static/favicon.ico" type="image/x-icon" /> 
    <link rel="shortcut icon" href="static/favicon.ico" type="image/x-icon" />
    <!-- <link rel="shortcut icon" href="#">  -->
    <!-- Getting rid of that damned favicon error. -->
    <!-- Wow. So this line of code about the favicon was repinging the route. -->
    <title>Boggle</title>
</head>

<body>
    <div id="title">
        <h1>BOGGLE</h1>
    </div>
    <table class="newboard">
            {% for row in newboard %}
                <tr>
                    {% for char in row %}
                        <td><h2 class="char">{{char}}</h2></td>
                    {% endfor %}
                </tr>
            {% endfor %}
     </table>

    <!-- <h1>{{ currboard }}</h1> -->
    <!-- Just checking that session variable passes through correctly. -->
    <!-- method="POST" -->
    <form  class="guessform", methods="POST">
        <!-- I forgot the method attribute. -->
        <div>
            <input name="guess" class="uguess">
            <!-- Name sets a variable name for passing between routes. -->
            <button id="gubut">Try word?</button>
        </div>
    </form>
    
    <p id="clmsg">
        <!-- our JS will put messages here dynamically -->
    </p>

    <p id="clent"> 
        <ul class="added">
        <!-- our JS will put messages here dynamically -->
        </ul>
    </p>

<script src="http://unpkg.com/jquery"></script>
<script src="https://unpkg.com/axios@0.19.0/dist/axios.js"></script>
<script src="static/boggle.js"></script>
 
</body>

</html>